.municipalitiesTable {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 95%;
  flex-wrap: wrap;
}

.countyAndMunicipalities {
  width: 120px;
  margin: 10px;
  text-align: center;
}

h3 {
  margin-bottom: 5px;
}
