@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;

}

h1 {
  margin: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

path {
  filter: invert(50%) sepia(30%) saturate(150%) hue-rotate(220deg) brightness(118%) contrast(119%);
}

path:hover {
  fill:none;
  stroke:black;
  pointer-events:all;
}

#acab {
  display: none;
  position: fixed; /* Floating above */
  pointer-events: none; /* Allow clicking trough the div */
}

p {
  font-weight: 600;
}

@media screen and (max-width: 1600px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
}