.mapSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mapContainer {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .countrySelect {
    margin-top: 20px;
  }

  @media screen and (min-width: 1024px) {
    .map {
      width: 800px;
      height: 600px;
    }
  }

  @media screen and (max-width: 1024px) {
    .map {
      width: 600px;
      height: 400px;
    }
  }

  .regionInfo {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 150px;

    h1 {
      text-align: center;
    }
  }
}
